{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/csss.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
</head>
<body>
<a href="{% url 'my-home' %}">HOME</a>
<a href="{% url 'my-about' %}">ABOUT</a>
<a href="{% url 'blogs' %}">BLOGS</a>
<a href="{% url 'services' %}">SERVICES</a>
<a href="{% url 'contact' %}">CONTACT</a>




<h3>For any of our services provision, contact us through the following channels</h3>
<p><span>contact info 1 <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias dolore dolorem eaque, et ex exercitationem harum maiores modi molestiae
    quae quas quibusdam reprehenderit sapiente unde! Delectus doloribus qui quod!</span></p><br><br>
<p><span>contact info 2 <br><br><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem facilis omnis provident recusandae. Delectus ea, esse et excepturi impedit in labore maiores nulla optio sint soluta unde ut vero voluptatum!</span><span>Ab alias delectus deleniti et eum expedita in laboriosam maxime minus modi mollitia nemo non nulla, obcaecati odio officia
    officiis omnis quaerat, quam quisquam rerum sunt ut vel. Repellendus, sed.</span></span></p>
<img src="{% static 'images/1000248944.jpg' %}" alt="">
</body>
</html>