{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/stylees.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}perl class jinja

    {% endblock %}</title>

</head>
<body>
<header>
    <h1>perl class</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'services' %}">SERVICES</a></li>
            <li><a href="{% url 'contact' %}">CONTACT</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
{#    different page content goes here	#}
    {% endblock %}



</main>
<footer>
    <p>&copy;2024 perl jinja</p>

</footer>


</body>
</html>